@use 'normalize.css';
@use './fotns.scss';
@use './colors.scss';

* {
	box-sizing: border-box;

	&::after,
	&::before {
		box-sizing: border-box;
	}
}

body {
	font-size: 16px;
	line-height: 1.4;
	min-width: 360px;
	font-family: 'Nunito Sans', sans-serif;
	background: var(--color-first);
}

.container {
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 15px;
}

.lazy-loading-parent,
.loading-indicator {
	position: relative;
	overflow: hidden;

	&::before,
	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		inset: 0 0 0 50%;
	}

	&::before {
		width: 101%;
		background-color: #e4e4e4;
		transform: translateX(-50%);
	}

	&::after {
		width: 500%;
		margin-left: -250%;
		animation: loading-animation 1.5s linear infinite;
		background: linear-gradient(
				to right,
				rgba(#fff, 0) 46%,
				rgba(#fff, 0.35) 50%,
				rgba(#fff, 0) 54%
			)
			50% 50%;
	}
}

@keyframes loading-animation {
	0% {
		transform: translate3d(-30%, 0, 0);
	}

	100% {
		transform: translate3d(30%, 0, 0);
	}
}
