$xl: 1920px;
$lg: 1480px;
$md: 1280px;
$sm: 768px;

@mixin xl {
	@media (min-width: $lg) and (max-width: $xl - 1) {
		@content;
	}
}

@mixin xl-max {
	@media (max-width: $xl - 1) {
		@content;
	}
}

@mixin xl-min {
	@media (min-width: $xl) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $md) and (max-width: $lg - 1) {
		@content;
	}
}

@mixin lg-max {
	@media (max-width: $lg - 1) {
		@content;
	}
}

@mixin lg-min {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin md {
	@media (min-width: $sm) and (max-width: $md - 1) {
		@content;
	}
}

@mixin md-max {
	@media (max-width: $md - 1) {
		@content;
	}
}

@mixin md-min {
	@media (min-width: $md) {
		@content;
	}
}

@mixin sm {
	@media (max-width: $sm - 1) {
		@content;
	}
}

@mixin sm-min {
	@media (min-width: $sm) {
		@content;
	}
}

@mixin hover {
	@media (hover: hover) {
		@content;
	}
}
